OPENAI_API_KEY=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
FIREWORKS_API_KEY=
EXA_API_KEY=51dba22c-2c86-470e-acd7-4ccee3b7b4f1
PINECONE_API_KEY=51dba22c-2c86-470e-acd7-4ccee3b7b4f1
